header nav {
    background-color: var(--primary-color);
    color: var(--background-color);

    min-height: 3em;
}

header nav a {
    color: var(--container-color);
}

.nav-toggle {
    position: absolute;
    display: inline;
    right: 0;
    padding: 0.3rem;
    margin: 0.7rem;
    border: 1px var(--background-color) solid;
    border-radius: 5px;
    z-index: 100;
}
.nav-toggle:hover {
    color: var(--secondary-color);
    border: 1px var(--secondary-color) solid;
    transition: color 250ms, border 250ms;
}

.nav-title {
    margin-left: 1rem;
}

.nav-tiles.nav-hidden {
    visibility: hidden;
    max-height: 0;
    transition: visibility 300ms ease-out, max-height 300ms ease-out;
}

.nav-tiles {
    max-height: 1000px;
    padding: 1rem 0;
    overflow: hidden;
    transition: visibility 300ms ease-in, max-height 300ms ease-in;
}

.nav-tiles>li {
    padding: 0.5rem 0;
    width: 100%;
}

.nav-tiles > li > a {
    color: var(--container-color);
    transition: color 250ms;
}

.nav-tiles > li > a:hover {
    color: var(--secondary-color);
    transition: color 250ms;
}

.nav-submenu {
    color: var(--text-color);
    background-color: var(--background-color);
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    margin: 0;

    border: 1px solid var(--primary-color);
    border-top: 1px solid var(--secondary-color);
}

.nav-tile:hover > .nav-submenu {
    visibility: visible;
    max-height: 1000px;
    transition: max-height 300ms ease-in;
    margin: 0.5rem 0;
}

.nav-submenu > li {
    padding: 0.5rem;
}

.nav-submenu > li:hover {
    background-color: var(--secondary-color);
    transition: background-color 100ms;
}

.nav-submenu a {
    color: var(--text-color);
}

@media (min-width: 768px) {
    .nav-toggle {
        display: none;
    }

    .nav-tiles.nav-hidden {
        visibility: visible;
        max-height: 1000px;
    }

    .nav-title {
        margin-left: 0;
    }

    .nav-tiles {
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }

    .nav-tiles > li {
        padding: 1rem 0;
        width: 100%;
        text-align: center;
    }

    .nav-submenu {
        position: absolute;
    }

    .nav-tile:hover > .nav-submenu  {
        margin: 1rem 0;
        max-height: 1000px;
    }
}

