:root {
    --text-color: #000000;
    --primary-color: #14213d;
    --secondary-color: #fca311;
    --background-color: #e5e5e5;
    --container-color: #ffffff
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 25px;
}

a {
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.thumbnail {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

p {
    text-align: justify;
}

h1, h2 {
    margin: 1em 0 0.4em 0;
}

h1 {
    font-size: 1.8rem;
    font-weight: 700;
}

h2 {
    font-size: 1.4rem;
    text-decoration: underline;
}

h3 {
    font-size: 1.2rem;
    padding-bottom: 0.1em;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.container.content {
    background-color: var(--container-color);
    padding: 1em;
    border-bottom: 2px solid var(--secondary-color);
}

header .logo {
    display: block;
    margin: 1rem auto;
}

header .logo-container {
    padding: 0 2rem;
}

hr {
    height: 1px;
    border: 0;
    background-color: var(--secondary-color);
}

.preview {
    width: 200px;
    height: 220px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    transition: 100ms;
}

.preview:hover {
    background-color: var(--primary-color);
    color: #fca311;
    transition: 250ms;
}

.nowrap-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.results {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 2rem;
    justify-content: center;
}

.display-none {
    display: none;
}

#page-loading {
    margin: 1rem;
}

.split-col {
    flex: 2;
    padding: 1rem;
}

.split-sm {
    flex: 1;
}

.order-first {
    order: 1;
}

.order-second {
    order: 2;
}

img.circle {
    border-radius: 50%;
}

img.cover-img {
    border: 0.7rem solid var(--background-color);
    border-radius: 3px;
}

img.cocktail-photo {
    max-width: 200px;
}

p.paragraph {
    padding: 1rem 1rem 0 1rem;
    line-height: 1.4em;
}

section > p.paragraph:last-child {
    padding-bottom: 1.2rem;
}

.ingredients {
    list-style-type: circle;
}

.ingredients > li {
    margin: 0.4rem;
}

@media (min-width: 768px) {
    .container {
        width: 760px;
    }

    .split {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .cocktail-ingredients-container {
        margin-left: 3rem
    }

    .cocktail-photo {
        max-width: 70%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 980px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1192px;
    }
}

